@import './mixins';

$black: #161616;
$white: #fefefe;
$white-gray: #efefef;
$white-gray-2: #f8f8f8;
$gray: #6e6e6e;
$blue: #5991cb;
$green: #43cb83;
$red: #e21e1e;
$yellow: #fede63;
$dashboard-bg: #ebeef1;

$facebook: #4167b2;;
$google: #dd4b39;

$monserrat: var(--font-monserrat);
$open-sans: var(--font-opensans);
$dashboard-margin: 24px;
$dashboard-padding: 20px;
$dashboard-radius: 12px;
