@import "@/styles/vars";
@import "@/styles/mixins";

.reset-password {
  display: flex;
  flex-direction: column;
  padding: 57px 24px 75px;

  &__header {
    color: $black;
    margin-bottom: 57px;
  }

  &__wrong-input {
    position: absolute;
    top: 80px;
    display: none;
    align-items: center;
    height: 24px;
    padding: 0 14px;
    border-radius: 14px;
    border: 1px solid $red;
    color: $red;
    font-size: 14px;

    &--error {
      display: flex;

      &--2 {
        top: 168px;
      }
    }

    &--success {
      position: absolute;
      top: 80px;
      height: 24px;
      display: flex;
      color: $green;
      border: 1px solid $green;

      &--2 {
        top: 168px;
      }
    }
  }

  &__label {
    position: relative;
    width: 320px;
    margin-bottom: 18px;

    &--first {
      @include onTablet {
        margin-right: 40px;
      }

      @include onDesktop {
        margin-right: 60px;
      }
    }
  }

  &__title {
    margin-bottom: 3px;
    text-align: center;
    font-family: $monserrat;
    font-size: 56px;
    font-weight: 900;
    line-height: 68px;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 6px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }

  &__form {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    width: 100%;
  }

  &__submit {
    margin: 24px 0 15px;
    width: 320px;
    height: 50px;
  }

  &__validate-icon {
    position: absolute;
    top: 39px;
    right: 10px;
    width: 22px;
    height: 22px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &--invalid {
      background-image: url("../../../media/icons/off.svg");
    }

    &--valid {
      background-image: url("../../../media/icons/checked-icon.svg");
    }
  }

  &__no-account-text {
    margin-bottom: 30px;
    color: $black;
    font-family: $monserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
  }

  &__register {
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
  }

  &__bottom {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 444px;
  }
}
