@import "@/styles/vars";
@import "@/styles/mixins";

.about {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 284px;
    padding-bottom: 18px;
    margin-bottom: 30px;
    border-bottom: 2px solid $white-gray;

    @include onLaptop {
      width: 94%;
    }
  }

  &__input-area {
    height: 218px;
  }

  &__bottom {
    padding-right: 28px;
  }
}
