@import '@/styles/vars';
@import '@/styles/mixins';

.affiliate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $dashboard-padding;
  height: 600px;

  &__icon {
    @include square(300px);
    @include icon;
    background-image: url('../../../../../media//dashboard-icons/under-development.png');
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__text {
    max-width: 444px;
    text-align: center;
  }
}
