@import "@/styles/vars";
@import "@/styles/mixins";

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;

  &--stretch {
    height: 100%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    font-family: $monserrat;
    text-transform: uppercase;
    color: $gray;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.6px;
  }

}
